:root {
  --color-blue-1: #407bff;
  --color-blue-2: #2b63dc;
  --color-green: green;
  --color-violet: rgb(203, 77, 234);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  overflow-x: hidden;
}

body {
  height: 100%;
  font-family: 'Anybody', cursive;
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  min-height: 100%;
  display: grid;
  grid-template-rows: 76px 1fr 48px;
}

/* Border */
.topBorder,
.bottomBorder,
.leftBorder,
.rightBorder {
  background-color: var(--color-blue-2);
  position: fixed;
  z-index: 999;
}

.topBorder,
.bottomBorder {
  height: 7px;
  width: 100%;
  left: 0;
  right: 0;
}
.leftBorder,
.rightBorder {
  height: 100%;
  width: 7px;
  top: 0;
  bottom: 0;
}
.topBorder {
  top: 0;
}
.bottomBorder {
  bottom: 0;
}

.leftBorder {
  left: 0;
}

.rightBorder {
  right: 0;
}

select,
input {
  font-size: 1.3rem;
  border-radius: 7px;
  border: 1px solid grey;
  background-color: transparent;
}
select {
  padding: 8px 12px;
}

input:focus,
select:focus {
  border-color: var(--color-blue-2);
  outline: 1px solid var(--color-blue-2);
  /* outline: none; */
  color: var(--color-blue-2);
}
input::placeholder {
  color: rgb(203, 203, 203);
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 8px 10px;
  font-size: 1.3rem;
  border-radius: 7px;
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 850px;
  margin-inline: auto;
  min-height: 100%;
}

/* Main screen */
.home {
  display: grid;
  place-items: center;
  min-height: 100%;
}

.homeBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -45px;
  gap: 10px;
  max-width: 600px;
}
.homeBox .modal {
  font-size: 12rem;
  width: 337px;
  height: 246.13px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.homeBox .modelIcon {
  margin-bottom: 15px;
  align-self: flex-end;
  filter: blur(5px);
}
/* .modelSvg {
  opacity: 0;
  transform: scaleX(0);
  transition: opacity 1s ease-in-out;
}

.modelSvg.active {
  opacity: 1;
  transform: scaleX(1);
} */

.homeForm {
  width: 90%;
  margin-inline: auto;
}

.homeSelect {
  width: 100%;
}

.homeForm button {
  background-color: var(--color-blue-1);
  color: white;
  margin-top: 13px;
  width: 100%;
  gap: 4px;
}

.homeForm button svg {
  font-size: 1.5rem;
  margin-top: 2px;
  margin-right: -5px;
}

/* Nav */
nav,
footer {
  display: grid;
}
footer {
  place-items: center;
}
footer a {
  color: rgb(255, 72, 0);
  font-weight: 500;
}
nav {
  /* height: 50px; */
  width: 90%;
  max-width: 850px;
  margin-inline: auto;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-blue-2);
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
nav a {
  text-align: center;
}
.navMarginLeft {
  margin-left: auto;
}

.navIcon {
  margin-top: -4px;
  cursor: pointer;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  width: fit-content;
}

footer {
  /* height: 40px; */
  font-size: 0.9rem;
}

/* Modal */
.modalWrapper {
  background-color: #e5ebff;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
  overflow-y: auto;
}
.modalDiv {
  width: 90%;
  max-width: 850px;
  margin-inline: auto;
}
.modalNav {
  height: 76px;
  display: grid;
  background-color: #e5ebff;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: #0c3896;
  position: sticky;
  top: 0;
}

.modalNav .logo {
  text-align: center;
}

.modalBody h3:not(:first-of-type) {
  margin-top: 22px;
}
.modalBody p {
  margin: 9px 0;
  font-size: 1.1rem;
  line-height: 24px;
}

.modalBody p a {
  font-weight: 600;
  color: orangered;
}

.modalBody .bugReport {
  font-weight: 500;
  color: grey;
}

.modalBody li {
  font-size: 1rem;
  margin-block: 5px;
  line-height: 23px;
}
.modalBody ul {
  color: rgb(52, 29, 135);
}
.modalBody ol,
.modalBody ul {
  padding-left: 17px;
}

/* Compare */

.compare {
  padding: 10px 0 40px;
  overflow-x: hidden;
}
.compare h3 {
  text-align: center;
  font-weight: 300;
}

.compare form {
  margin-top: 20px;
  display: grid;
  /* gap: 20px; */
  overflow: hidden;
}

.compare .itemDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
}
.itemDiv label {
  font-weight: 500;
  font-size: 1.3rem;
}
.twoCol {
  display: flex;
  align-items: center;
  gap: 10px;
}

.compare select,
.compare input {
  padding: 8px 10px;
  font-size: 1.2rem;
  width: 100%;
}
.twoCol select {
  width: 40%;
}
.twoCol .inputDiv {
  width: 60%;
  flex-grow: 1;
}

.compare input {
  padding: 8px 10px 8px 36px;
}

.btnDivWrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 7px;
  /* background-color: rgba(255, 255, 255, 0.279);
  backdrop-filter: blur(3px); */
  padding-block: 10px;
  max-width: 780px;
  margin-inline: auto;
}

.btnDiv button {
  font-size: 1.4rem;
  padding-block: 9px;
}

.btnDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 90%;
  margin-inline: auto;
}

.btnDiv button svg {
  margin-left: -7px;
}
.btnDiv button:nth-child(1) {
  background-color: grey;
  color: white;
}
.btnDiv button:nth-child(1):disabled {
  background-color: #de3838 !important;
}

.btnDiv button:nth-child(2) {
  background-color: var(--color-blue-2);
  color: white;
}

.twoCol button {
  font-size: 0.95rem;
  gap: 3px;
  color: red;
  width: fit-content;
  padding-left: 5px;
}

.inputDiv {
  position: relative;
}
.inputDiv svg {
  position: absolute;
  left: 8px;
  top: 8px;
  font-size: 1.5rem;
  color: rgb(95, 95, 95);
}

.inputDiv input:focus ~ svg {
  color: var(--color-blue-2);
}

/* Result */
.loadingResult {
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 40vh;
  text-align: center;
}

.resultBox {
  padding: 45px 0 20px;
}

.resultBox .mainText {
  font-size: 1.65rem;
  line-height: 33px;
  text-align: center;
}
.bold {
  font-weight: 600;
}
.allList {
  font-size: 1.3rem;
  font-weight: 500;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 7px;
}
thead {
  background-color: var(--color-blue-2);
  color: white;
}
th,
td {
  padding: 10px 5px;
  text-align: center;
}
th:not(:last-of-type) {
  border-right: 1px solid rgb(255, 255, 255);
}

tr:nth-child(even) {
  background-color: #d6eeee;
}

.rate {
  font-size: 1.1rem;
  margin: 20px 0 50px;
  text-align: center;
}

.color1 {
  color: var(--color-green);
}
.color2 {
  color: var(--color-violet);
}

/* Media Query */
@media screen and (min-width: 600px) {
  #root {
    grid-template-rows: 86px 1fr 55px;
  }
  .modalNav {
    height: 86px;
  }

  .homeBox {
    gap: 20px;
  }
}

@media screen and (min-width: 800px) {
  .btnDivWrapper {
    padding-block: 20px;
  }
  #root {
    grid-template-rows: 90px 1fr 65px;
  }
  .modalNav {
    height: 90px;
  }
  .homeBox {
    margin-top: -25px;
  }
  .compare form {
    grid-template-columns: 1fr 1fr;
    gap: 10px 30px;
    border: none;
    padding: 0;
    border-radius: 0;
  }
  .itemDiv {
    margin: 0;
  }
  .btnDiv {
    gap: 20px;
  }

  .modalBody {
    margin-top: 40px;
  }
  .modalBody h3 {
    margin-bottom: 10px;
  }

  .topBorder,
  .bottomBorder {
    height: 10px;
  }
  .leftBorder,
  .rightBorder {
    width: 10px;
  }
}
